@import url("../../../plugins/layui/css/modules/layui-icon-extend/iconfont.css");
body{
	padding-bottom:20px;
}
.importBtn{
	width:100%;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #e6e6e6;
	position:fixed;
	left:0;
	top:0;
	z-index:1000;
	color:#666;
	background:#fff;
}
.importBtn p{
	margin-left:34px;
}
.importBtn p i{
	font-size:22px;
	position:absolute;
	left:10px;
	top:0px;
}
.closeBtns{
	position:absolute;
	right:5px;
	top:8px;
	width:25px;
	height:25px;
	line-height:25px;
	text-align:center;
}
.closeBtns i{
	font-size:24px;
	font-weight:600;
}
.closeBtns:hover i{
	color:red;
}
.importConTit{
	width:98%;
	height:38px;
	line-height:38px;
	position:fixed;
	left:1%;
	top:41px;
	background:#fff;
	z-index:100;
	box-shadow:0 2px 2px #ebebeb;
	padding:10px 0;
	z-index:1000;
}
.layui-table, .layui-table-view{
	width:98%;
	margin:10px 0 0 1%;
}
#upListAction{
	float:right;
	display:none;
}
.noticeSpan{
	color:#666;
}
.importCon{
	margin-top:100px;
}
.showHideBtn{
	float:right;
	color:#F47837;
	cursor:pointer;
	display:none;
}
.showHideBtn em{
	font-style:normal;
}
.layui-extend-more{
	color:#F47837;
	font-size:14px;
}
.layui-extend-more.rotateIcon{
	display:inline-block;
    transform: rotate(90deg);
}
/* 读取结果 */
.readResWrap{
	width:98%;
	margin:100px auto 0;
	color:#666;
	border:1px solid #e6e6e6;
	display:none;
}
.commonResTit{
	height:40px;
	line-height:40px;
	background:#f2f2f2;
	border-bottom:1px solid #e6e6e6;
}
.commonResCon li{
	border-bottom:1px solid #e6e6e6;
	height:40px;
	line-height:40px;
}
.commonResCon li:last-child{
	border-bottom:none;
}
.commonResTit li,
.commonResCon li p{
	float:left;
	text-align:center;
	box-sizing:border-box;
}
.oneWid_fee{
	width:35%;
	border-right:1px solid #e6e6e6;
}
.towWid_fee{
	width:65%;
}
.oddColor{
	background:#f1f1f1;
}