@import url("../../../plugins/layui/css/modules/layui-icon-extend/iconfont.css");
.titStrong{
	width:100%;
	height:35px;
	line-height:35px;
	display:block;
	text-indent:25px;
	font-size:15px;
	color:#F47837;
	font-weight:normal;
	border-bottom:1px solid #e6e6e6;
	position:relative; 
}
.titStrong i{
	font-size:22px;
	position:absolute;
	left:-25px;
	top:0;
}
.titStrong.smFont i{
	font-size:20px;
}
.hasPos{
	position:relative;
}
.diyInp{
	width:380px;
	position:absolute;
	left:65px;
	top:1px;
	display:none;
}
.hasAlign{
	width:100%;
	text-align:center;
}
.subBtn{
	width:100px;
	display:inline-block;
}
.layui-form-item.transformItem{
	margin-bottom:8px;
}
.layui-form-item.noMargBot{
	margin-bottom:5px;
}