.posRel{position:relative;}
.posAbs{position:absolute;}
.fl{float:left;}
.fr{float:right;}
.clearfix{zoom:1;}
.clearfix:after{content:"";display:block;clear:both;}
.blockA{width:100%;height:100%;display:block;}
/* 多余文字...显示（单行） */
.ellip{
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
/* 多余文字...显示（多行） */
.multiEllip{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}