#animation-left-nav{
	cursor:pointer;
	font-size: 18px; 
	color:#fff;
	position:absolute;
	right:10px;
}
.layui-layout-right{
	margin-right:35px;
}
.topHeadNav{
	height:60px;
}
.topHeadNav .layui-extend-youxiang{
	font-size:20px;
}
.layui-badge-dot{
	display:none;
}
.layui-nav .emailDot{
	margin-left:17px;
	display:block;
}
 .layui-nav .noticeDot{
	margin-left:12px;
}
.headsmIcon{
	font-size:18px;
	color:#fff;
	font-weight:bold;
}
.weather{
	float:left;
	margin-top:15px;
}
.tuichu{
	position:absolute;
	right:-10px;
	top:23px;
}
.tuichu i{
	color:#fff;
	font-size:18px !important;
}
.layui-tab{
	box-shadow:0 1px 2px 0 rgba(0,0,0,.1);
	margin:0px !important;
}
.layui-tab-title{
	border:none;
}
.layui-layer-molv .layui-layer-btn .layui-layer-btn1{
	background:#fff !important;
}
#hasNoReadNum{
	display:none;
}
#mailNavLi{
	visibility:hidden;
}
.setInfoTxt{
	width:418px;
	height:300px;
	position:fixed;
	left:156px;
	top:72px;
	z-index:10000;
}
.setInfoTxt div{
	width:418px;
	height:224px;
	background:url(../images/setTips.png) no-repeat;
}
.setInfoTxt p{
	color:#fff;
	position:absolute;
	font-size:18px;
}
.setInfoTxt p.firstTxt{
	left:155px;
	top:122px;
}
.setInfoTxt a{
	width:114px;
	height:53px;
	line-height:53px;
	background:url(../images/setInfoBtn.png) no-repeat;
	position:absolute;
	right:90px;
	bottom:0px;
	text-align:center;
	color:#fff;
	font-size:18px;
}
.setInfoTxt a:hover{
	text-decoration:underline;
}
.sideLayer{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:100;
	background:transparent;
}
.layui-layer-orange .layui-layer-title{background:#F47837; color:#fff; border: none;}
.layui-layer-orange .layui-layer-btn a{background:#F47837;border:1px solid #F47837;}
.layui-layer-orange .layui-layer-btn .layui-layer-btn1{background:#fff;border:1px solid #ccc;}
.layui-layer-orange{

}