@import url("../../../css/common.css");
@import url("../../../plugins/layui/css/modules/layui-icon-extend/iconfont.css");
body{
	background:#f2f2f2;
	color:#666;
}
.searchForm{
	margin-top:15px;
}
.searchForm .itemDiv{
	margin-left:15px;
}
.searchForm .itemDiv:first-child{
	margin-left:0px;
}
.layui-layer-molv .layui-layer-btn .layui-layer-btn1{
	background:#fff !important;
}
.noData{
	display:none;
	position:absolute;
	left:50%;
	margin-left:-50px;
	top:200px;
}
.layui-table-page>div{
	text-align:right;
}
.layui-form-label{
	width:88px;
}
/* 查看员工信息 */
.layui-input-inline span{
	height:22px;
	line-height:22px;
	padding:0 6px;
	background:#b2e9e4;
	color:#009688;
	float:left;
	margin-top:9px;
	margin-right:10px;
}
/* 添加员工 */
.getFailField,
.noFieldList{
	height:100%;
	display:inline-block;
	line-height:36px;
	color:#999;
}
.getFailField i{
	margin-right:3px;
}
input[type="text"]:disabled{
	background:#f1f1f1;
}
/* 添加角色 */
.addConLayer{
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.9);
	position:absolute;
	left:0;
	top:-100%;
	display:none;
}
.innerAddCon{
	width: 320px;
    height:40px;
    line-height: 40px;
    margin: 30px auto 0;
}
.innerAddCon:first-child{
	margin-top:100px;
}
.innerAddCon input{
	width: 245px;
    height: 39px;
    border: none;
    border-bottom: 1px solid #ccc;
    float: left;
    line-height: 40px;
    margin-left: 5px;
}
#addRoleLayer,
#addFieldLayer{
	display:none;
}
.layui-btn-danger{
	background:#ff774d;
}
.autoDiv{
	width:95%;
	margin:10px auto 10px;
}
/* 查看员工基本信息 */
#basicInfo{
	width:96%;
	margin:50px auto 0;
}
#basicInfo ul{
	/*border:1px solid #eaf4ff;*/
}
#basicInfo li{
	width:100%;
	min-height:40px;
	line-height:40px;
	position:relative;
}
#basicInfo li.hasBorTop{
	border-top:1px solid #eaf4ff;
}
#basicInfo li div.innerPar{
	width:50%;
	height:100%;
	float:left;
	box-sizing:border-box;
	position:relative;
}
#basicInfo li div.innerPar:first-child,
#basicInfo li.specLi div.innerPar{
	border-right:1px solid #eaf4ff;
	border-left:1px solid #eaf4ff;
	border-bottom:1px solid #eaf4ff;
}
#basicInfo li div.innerPar:last-child{
	border-bottom:1px solid #eaf4ff;
	border-right:1px solid #eaf4ff;
}
#basicInfo li div.innerPar p{
	float:left;
	position:relative;
}
#basicInfo li div.innerPar p:first-child{
	width:100px;
	height:100%;
	text-align:center;
	border-right:1px solid #eaf4ff;
	background:rgba(0, 132, 255, 0.03);
	color:#666;
	position:absolute;
	left:0;
	top:0;
}
#basicInfo li div.innerPar p:last-child{
	text-indent:10px;
	width:80%;
	margin-left:100px;
}
#basicInfo li div.innerPar p:last-child span{
	height:100%;
	display:block;
	float:left;
	text-indent:0px;
	margin-left:5px;
}
#basicInfo li div.innerPar p:last-child span em{
	font-style:normal;
	padding:3px 5px;
	background:#1E9FFF;
	color:#fff;
}
#basicInfo li.specLi{
	border-bottom:none;
}
#basicInfo li.specLi div.innerPar{
	border-bottom:1px solid #eaf4ff;
}
#basicInfo li.specLi div.innerPar:first-child{
	width:100%;
}
#basicInfo li.specLi div.innerPar p:last-child{
	width:91%;
}
.maleB{
	color:#01AAED;
	font-weight:normal;
}
.femaleB{
	color:#F581B1;
	font-weight:normal;
}