@import url("../../../css/common.css");
@import url("../../../plugins/layui/css/modules/layui-icon-extend/iconfont.css");
body{
	background:#f2f2f2;
	color:#666;
}
.searchPart{
	line-height:38px;
}
.selCusP{
	width:200px;
	line-height:38px;
	cursor:pointer;
}
.selCusP p{
	max-width:90%;
	color:#888;
}
.selCusP i{
	position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    cursor: pointer;
    border-width: 6px;
    border-top-color: #c2c2c2;
    border-top-style: solid;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.resetTime{
	color:#666;
}
.resetTime:hover{
	color:#F47837;
}
.resetTime i{
	margin-right:5px;
}
.newAddBtn{
	height: 40px;
    line-height: 40px;
    z-index: 10;
}
#exportFeeBtn_noSub,
#importFeeBtn{
	display:none;
}
.layui-table-page>div{
	text-align:right;
}
.itemDiv{
	margin-right:15px;
}
.feeNameSp{
	color:#01AAED;
}
.feeSpan{
	font-weight:600;
	color:#FF5722;
}
.feeSpNoBold{
	color:#FF5722;
}
.overdueSp{
	color:#FF5722;
}
.greenColor{
	color:#5FB878;
}
.blueColor{
	color:#009688;
}
.yellowColor{
	color:#a38434;
}
.redColor{
	color:#F00;
}
.blockSpan{
	display:inline-block;
	height:22px;
	line-height:22px;
	padding:0 5px;
	background:#14c5b5;
	color:#fff;
	margin-right:5px;
	font-size:12px;
}
.hasPadBot{
	padding-bottom:15px;
}
#totalWrap{
	width:100%;
	height:40px;
	line-height:40px;
	border:1px solid #e6e6e6;
	margin:10px auto 0;
	text-indent:15px;
}
#totalWrap p span{
	font-weight:600;
	color:#F47837;
}