@import url("../../../css/common.css");
@import url("../../../plugins/layui/css/modules/layui-icon-extend/iconfont.css");
body{
	background:#f2f2f2;
	color:#666;
}
.layui-tab-content{
	padding:0px;
	margin-top:20px;
}
#addSubCpyBtn{display:none;}
#subParCpyWrap{ 
	width:100%;
	position:static;
}
.layui-card-body{
	padding:0 15px;
}
/* 存在子公司时的list */
.subCpyList{
	width:320px;
	float:left;
	margin:0 20px 20px 0;
	position:relative;
}
.subCpyLayer{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:rgba(13,10,49,.7);
	display:none;
}
.subCpyList:hover .subCpyLayer{
	display:block;
}
.subCpyList:hover .subCpyLayer span{
	cursor:pointer;
}
.subCpyLayer span{
	width:60px;
	height:60px;
	border-radius:50%;
	background:#FF5722;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-30px;
	margin-top:-30px;
	text-align:center;
}
.subCpyLayer span i{
	color:#fff;
	font-size:32px;
	margin-top:18px;
	display:block;
}
.subCpyName{
	max-width:100%;
	height:100px;
	text-align:center;
	background:#22b8aa;
	color:#fff;
}
.subCpyName p.titP{
	font-size:18px;
	font-weight:600;
	padding-top:25px;
}
.smInfo{
	margin-top:10px;
}
.smInfo p{
	float:left;
	text-align:center;
}
.smInfo p:nth-of-type(3n){
	float:right;
	margin-right:12px;
}
.smInfo p:nth-of-type(3n-1){
	margin:0 10px;
}
.smInfo p:nth-of-type(3n-2){
	margin-left:12px;
}
.subCpyDetailInfo{
	width:100%;
	height:180px;
	background:#ebebeb;
	padding:10px 0;
}
.subCpyDetailInfo p{
	max-width:100%;
	height:30px;
	line-height:30px;
	text-indent:20px;
}
.noDataList{
	width:300px;
	margin:80px auto 0;
	text-align:center;
	color:#999;
}
.noDataList i{
	font-size:80px;
}
.noDataList p{
	margin-top:10px;
}
.icon-svg{
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   font-size:22px;
   float:left;
   margin-top:5px;
}
.createSubNunTips{
	position:absolute;
	right:18px;
	top:8px;
	color:#999;
	padding-left:20px;
}
.createSubNunTips i{
	color:#F47837;
	font-size:16px;
	font-weight:600;
	position:absolute;
	left:0;
	top:0px;
}
.noAbilityTxt{
	text-align:center;
	color:#999;
}