@import url("../../../css/common.css");
@import url("../../../plugins/layui/css/modules/layui-icon-extend/iconfont.css");
body{
	background:#f2f2f2;
	color:#666;
}
/*.noData{
	display:none;
	position:absolute;
	left:50%;
	margin-left:-50px;
	top:100px;
}*/
#yqList{
	margin-top:10px;
}
.zlyqTitUl{
	background:#f1f1f1;
	height:40px;
	line-height:40px;
	font-weight:600;
}
.oddBgColor{
	background:#f1f1f1;
}
.zlyqTitUl li,
.zlyqConUl li p{
	float:left;
	height:100%;
	text-align:center;
}
.zlyqWid1,
.zlyqWid2{
	width:45%;
}
.zlyqWid3{
	width:10%;
}
.zlyqConUl li{
	border-bottom:1px solid #ebebeb;
	height:40px;
	line-height:40px;
}
.zlyqConUl li p span{
	width:100%;
	height:100%;
	position:relative;
	cursor:pointer;
}
.zlyqConUl li p span i{
	font-size:18px;
	position:absolute;
	left:50%;
	margin-left:-32px;
}
.zlyqConUl li p span:hover{
	color:#F47837;
}
.layui-form-label{
	width:95px;
}
.layui-input-block input{
	width:80%;
}
.itemDiv:last-child{
	margin-right:10px;
}