<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.patent.web.UserLoginFilter</filter-class>
    <init-param>
      <param-name>forwardpath</param-name>
      <param-value>/login.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
	<listener-class>
		org.springframework.web.context.ContextLoaderListener
	</listener-class>
  </listener>
  
  <error-page>
  	<error-code>500</error-code><!-- 无此方法异常 -->
  	<location>/forgetPass.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>404</error-code><!-- 找不到该页面异常 -->
  	<location>/exception/jsp/404Page.html</location>
  </error-page>
  
  <error-page>
  	<error-code>400</error-code><!-- 数据库执行动作异常 -->
  	<location>/spUserLogin.jsp</location>
  </error-page>
  
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
		/WEB-INF/classes/com/patent/spring/config/timer/timerConfig.xml
	</param-value>
  </context-param>
  
  <listener>
    <listener-class>com.patent.web.FactoryLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>com.patent.action.base.MyActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>img</servlet-name>
    <servlet-class>com.patent.tools.AuthImg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>init</servlet-name>
    <servlet-class>com.patent.action.base.InitServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>img</servlet-name>
    <url-pattern>/authImg</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>