@import url("../../../css/common.css");
@import url("../../../plugins/layui/css/modules/layui-icon-extend/iconfont.css");
body{
	background:#f2f2f2;
	color:#666;
}
.itemDiv{
	margin-right:15px;
}
.itemDiv:last-child{
	margin-right:0px;
}
#addPubZlBtn,
#viewLqHisBtn,
.lqZlStatusBox{
	display:none;
}
.noData{
	display:none;
	position:absolute;
	left:50%;
	margin-left:-50px;
	top:100px;
}
.layui-form-item input[type='text']{
	width:350px;
}
.layui-form-item textarea,
.layui-form-item table{
	width:90%;
}
#upListAction{
	display:none;
	position:absolute;
	right:10%;
	top:0;
}
.hasFujianSpan{
	color:#01AAED;
}
.zlTypeSpan{
	display:inline-block;
	padding:0 5px;
	height:20px;
	line-height:20px;
	background:#009688;
	color:#fff;
	border-radius:2px;
	font-size:12px;
}
.noticeSpan{
	margin-left:10px;
	color:#F47837;
}
/* 待领取 */
.notCheckStatus,
.hasCheckStatus,
.noPasCheckStatus,
.verifyTxt p span{
	width:8px;
	height:8px;
	border-radius:50%;
	position:absolute;
}
.notCheckStatus,
.hasCheckStatus,
.noPasCheckStatus{
	left:5px;
	top:10px;
	cursor:pointer;
}
.notCheckStatus{
	background:#c2c2c2;
}
.hasCheckStatus{
	background:#5FB878;
}
.noPasCheckStatus{
	background:#FF5722;
}
.waitReceive{
	color:#FF5722;
	margin-right:5px;
}
.hasReceive{
	color:#01AAED;
	margin-right:5px;
}
/* 查看任务详情 代理机构 平台用户下使用 */
#viewZlTask{
	width:90%;
	margin:15px auto 0;
}
#viewZlTaskUl{
	border:1px solid #ebebeb;
}
#viewZlTaskUl li{
	width:100%;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ebebeb;
}
#viewZlTaskUl li:last-child{
	border-bottom:none;
}
.taskTitDetail{
	text-align:center;
	font-size:16px;
	color:#666;
	font-weight:600;
}
.taskTitDetail span{
	font-size:14px;
	color:#FF5722;
	font-weight:normal;
}
#viewZlTaskUl li div.innerPar{
	width:50%;
	height:100%;
	float:left;
	box-sizing:border-box;
}
#viewZlTaskUl li div.innerPar:first-child{
	border-right:1px solid #ebebeb;
}
#viewZlTaskUl li div.innerPar p{
	float:left;
	position:relative;
}
#viewZlTaskUl li div.innerPar p .waitReceiveSp{
	color:#FF5722;
}
#viewZlTaskUl li div.innerPar p .hasReceiveSp{
	color:#009688;
}
#viewZlTaskUl li div.innerPar p:first-child{
	width:160px;
	height:100%;
	text-align:center;
	border-right:1px solid #ebebeb;
	background:rgba(0, 132, 255, 0.03);
	color:#666;
}
#viewZlTaskUl li div.innerPar p:last-child{
	text-indent:10px;
}
#viewZlTaskUl li.specHeiLi{
	height:80px;
}
#viewZlTaskUl li.specHeiLi div.innerPar:first-child{
	width:100%;
	border-right:none;
}
#viewZlTaskUl li.specHeiLi div.innerPar:first-child p:last-child{
	width:83%;
	min-height:40px;
	text-indent:0px;
	padding:0 0px 0 10px;
	display:flex;
	align-items:center;
}
#viewZlTaskUl li.specHeiLi div.innerPar:first-child p:last-child span{
	line-height:25px;
}
.fujianLi{
	height:auto !important;
}
.fujianLi div{
	height:auto;
}
.fujianWrap{
	width:83%;
	min-height:40px;
}
.fujianWrap span{
	display:block;
	width:100%;
	line-height:40px;
	color:#FF5722;
}
.fujianWrap span i{
	font-size:18px;
}
.receiveBtn,
.resetReceiveBtn,
.downLoadBtn{
	margin-left:10px;
}
.taskColor{
	color:#F47837;
}
.layui-elem-quote{
	padding:8px 15px;
	margin:15px 0 5px 0;
}
/* 到期会员对于任务详情不能查看 */
.innerOutDate{
	width:425px;
	height:35px;
	line-height:35px;
	font-size:16px;
	text-align:center;
	color:#FF5722;
	margin:200px auto 0;
}
.innerOutDate i{
	font-size:30px;
	float:left;
	margin-right:10px;
}
.innerOutDate span{
	float:left;
}
.receiveHisUl li{
	height:35px;
	line-height:35px;
	list-style-type:circle;
	margin-left:15px;
}
.layui-table-page>div{
	text-align:right;
}
.closeBtns{
	position:absolute;
	right:5px;
	top:8px;
	width:25px;
	height:25px;
	line-height:25px;
	text-align:center;
}
.closeBtns i{
	font-size:24px;
	font-weight:600;
}
.closeBtns:hover i{
	color:red;
}
.verifyTxt{
	height:100%;
	position:absolute;
	left:310px;
	top:0px;
	z-index:100;
	opacity:.8;
	display:none;
}
.verifyTxt p{
	float:left;
	margin-right:15px;
	position:relative;
	padding-left:13px;
	color:#999;
}
.verifyTxt p span{
	left:0;
	top:16px;
	background:pink;
}
.verifyTxt p span.noVerifySpan{
	background:#c2c2c2;
}
.verifyTxt p span.pasVerifySpan{
	background:#5FB878;
}
.verifyTxt p span.noPasVerifySpan{
	background:#FF5722;
}
/* 审核不通过备注 */
.verifyBox{
	width:90%;
	margin:0 auto;
}
.verifyBox textarea{
	height:100px;
	resize:none;
	margin-top:10px;
	display:none;
}
/* 未通过图标 */
.notPassIcon{
	position:absolute;
	right:100px;
	top:25px;
	transform:rotate(40deg);
}
.notPassTxt{
	width:90%;
	color:#FF5722;
	margin-top:9px;
	float:left;
}
.notPassText{
	color:#FF5722;
}
.notPassIcon i{
	font-size:100px;
	color:#d81e06;
}
.shenheBtn{
	text-align:center;
}
.shenheBtn button{
	display:inline-block;
	position:relative;
	padding:0 26px;
	text-indent:20px;
}
.shenheBtn button i{
	position:absolute;
	left:4px;
}