@import url("../../../css/common.css");
@import url("../../../plugins/layui/css/modules/layui-icon-extend/iconfont.css");
body{
	background:#f2f2f2;
	color:#666;
}
.itemDiv{
	margin-right:15px;
}
.itemDiv:last-child{
	margin-right:0px;
}
#addPubZlBtn{
	display:none;
}
.noData{
	display:none;
	position:absolute;
	left:50%;
	margin-left:-50px;
	top:100px;
}
.layui-form-item input[type='text']{
	width:350px;
}
.layui-form-item textarea,
.layui-form-item table{
	width:90%;
}
#upListAction{
	display:none;
	position:absolute;
	right:10%;
	top:0;
}
.hasFujianSpan{
	color:#01AAED;
}
.zlTypeSpan{
	display:inline-block;
	padding:0 5px;
	height:20px;
	line-height:20px;
	background:#009688;
	color:#fff;
	border-radius:2px;
	font-size:12px;
}
.noticeSpan{
	margin-left:10px;
	color:#F47837;
}
/* 待领取 */
.waitReceive{
	color:#FF5722;
	margin-right:5px;
}
.hasReceive{
	color:#999;
	margin-right:5px;
}
/* 查看任务详情 代理机构 平台用户下使用 */
#viewZlTask{
	width:90%;
	margin:15px auto 0;
}
#viewZlTask ul{
	border:1px solid #ebebeb;
}
#viewZlTask li{
	width:100%;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ebebeb;
}
#viewZlTask li:last-child{
	border-bottom:none;
}
.taskTitDetail{
	text-align:center;
	font-size:16px;
	color:#666;
	font-weight:600;
}
#viewZlTask li div.innerPar{
	width:50%;
	height:100%;
	float:left;
	box-sizing:border-box;
}
#viewZlTask li div.innerPar:first-child{
	border-right:1px solid #ebebeb;
}
#viewZlTask li div.innerPar p{
	float:left;
	position:relative;
}
#viewZlTask li div.innerPar p .waitReceiveSp{
	color:#FF5722;
}
#viewZlTask li div.innerPar p .hasReceiveSp{
	color:#009688;
}
#viewZlTask li div.innerPar p:first-child{
	width:160px;
	height:100%;
	text-align:center;
	border-right:1px solid #ebebeb;
	background:rgba(0, 132, 255, 0.03);
	color:#666;
}
#viewZlTask li div.innerPar p:last-child{
	text-indent:10px;
}
#viewZlTask li.specHeiLi{
	height:80px;
}
#viewZlTask li.specHeiLi div.innerPar:first-child{
	width:100%;
	border-right:none;
}
#viewZlTask li.specHeiLi div.innerPar:first-child p:last-child{
	width:83%;
	min-height:40px;
	text-indent:0px;
	padding:0 0px 0 10px;
	display:flex;
	align-items:center;
}
#viewZlTask li.specHeiLi div.innerPar:first-child p:last-child span{
	line-height:25px;
}
.fujianLi{
	height:auto !important;
}
.fujianLi div{
	height:auto;
}
.fujianWrap{
	width:83%;
	min-height:40px;
}
.fujianWrap span{
	display:block;
	width:100%;
	line-height:40px;
	color:#FF5722;
}
.fujianWrap span i{
	font-size:18px;
}
.receiveBtn,
.resetReceiveBtn,
.downLoadBtn{
	margin-left:10px;
}
.taskColor{
	color:#F47837;
}